<aside class="container-menu animate__animated animate__fadeIn">
  <h2 class="logo-texto">Cineverse</h2>

  <ul>
    <li class="seccion">
      <a routerLink="/peliculas" class="" routerLinkActive="activo">
        <span
          class="material-symbols-outlined icono-seccion"
          style="font-variation-settings: 'wght' 100; font-size: 30px"
        >
          search
        </span>
        Catálogo
      </a>
    </li>

    <li class="seccion">
      <a routerLink="/" class="" routerLinkActive="">
        <span
          class="material-symbols-outlined icono-seccion"
          style="font-variation-settings: 'wght' 100; font-size: 30px"
        >
          favorite_border
        </span>
        Favoritos
      </a>
    </li>

    <li class="seccion">
      <a routerLink="/" class="" routerLinkActive="">
        <span
          class="material-symbols-outlined icono-seccion"
          style="font-variation-settings: 'wght' 100; font-size: 30px"
        >
          access_time
        </span>
        Ver después
      </a>
    </li>
  </ul>
</aside>
