.layout{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

app-sidebar{
    width: 30vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;

    align-self: center;
}
.contenido{
    margin-left: 36vh;
    padding: 2rem;
    height: auto;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .layout{
        flex-direction: column;
    }

      app-sidebar {
    width: 100%;
    height: 60px; /* tipo barra superior */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contenido {
    margin-left: 0; /* quitar desplazamiento */
    padding: 1rem;
  }
}
