


<div class="contenedor">
  
<div id="movieCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
  <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>

  <!-- Contenido -->
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let peli of peliculas; let i = index"
      [class.active]="i === 0"
    >
      <img [src]="peli.portada" class="" [alt]="peli.titulo" />
      <div class="carousel-caption">
        <h5>{{ peli.titulo }}</h5>
      </div>
    </div>
  </div>

  <!-- Controles -->
  <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>


  <div class="titulo">
    <h1>Catálogo</h1>
  </div>
  <div class="peliculas-padre">
    <div class="movie-card" *ngFor="let peli of peliculas">
      <div class="mask">
        <img class="movie-img" [src]="peli.portada" alt="{{ peli.titulo }}" />
        <div class="overlay">
          <h3>{{ peli.titulo }}</h3>
          <p>{{ peli.anio }}</p>
          <div class="acciones">
            <button class="boton boton-fav" matTooltip="Info about the action">
              <span
                class="material-symbols-outlined icono"
                style="font-variation-settings: 'wght' 300; font-size: 28px"
              >
                favorite_border
              </span>
            </button>
            <button class="boton-verdespues">
              <span
                class="material-symbols-outlined icono"
                style="font-variation-settings: 'wght' 300; font-size: 28px"
              >
                access_time
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
